.navs .control {display:none;}
.wrap{background-color:#fff;margin-top:1px;}
dl.navigation{margin-top:40px;overflow:hidden;margin-bottom:20px;}
dl.navigation dt,dl.navigation dd,dl.navigation dd a{float:left;font-size:12px;color:#7e7e7e;font-family:'宋体';font-weight:normal;line-height:20px;}
dl.navigation dt {padding-left:25px;background:url("../images/financial/financial_03.png")/*tpa=http://www.chuangyesan.com/images/financial/financial_03.png*/ 3% center no-repeat;}
dl.navigation dd a{display:block;float:none;padding:0 12px;position:relative;}
dl.navigation dd a:before{content:'>';position:absolute;right:0;top:0;}
dl.navigation dd:last-child a:before{display:none;}
dl.navigation dd.cur a{color:#0087d2;}
ul.main{padding-top:50px;overflow:hidden;}

.message> p{padding-top:30px;font-size:33px;font-weight:300;padding-bottom:15px;color:#0087d2;border-bottom:1px dashed #ccc;}
.message .form-group {margin:0;overflow:hidden;padding:15px 0;}
.message .form-group>*{width:38%;margin:0 1%;float:left;}
.message .form-group label{width:18%;padding-top:5px;margin:0;margin-right:2%;text-align:right;font-weight:normal;font-size:14px;}
.message{width:800px;margin:auto;padding-bottom:100px;}
.message .form-group:nth-child(2) select{width:78%;margin:0 1%;}
.message .form-group .content{width:78%;overflow:hidden;}
.content a{float:left;display:block;margin:0 1px;}
.content a p{padding:7px 14px;border:none;transition:all .3s;font-size:14px;background-color:#6A85A8;color:#fff;} 
.content a:hover p{background-color:#586e8b;}
.content a span{display:none;}
.content a.cur span{display:inline-block;padding-right:5px;}
.content a.cur p{background-color:#526781;}
.checkbox{padding:15px 0;padding-left:21%;}
.checkbox a{color:#0087d2;}
.checkbox a:hover{text-decoration:underline;}
.release{margin-top:20px;background-color:#f5f5f5;height:75px;border-top:3px solid #e5e5e5;}
.release a{display:block;width:56px;height:34px;background-color:#81b1d9;font-size:16px;color:#fff;text-align:center;line-height:34px;margin-left:21%;margin-top:15px;}
.message .form-group:not(:nth-child(5)) input{
	width:50%;
	}
.message .form-group:first-child select{width:78%;}
.message .form-group textarea{width:50%;}
.message input{border-radius:4px;}
.message form p{font-size:18px;line-height:40px;padding:5px 0;margin-left:9%;}
.message form .form-group:nth-child(3) input{width:30%;}
.message form .form-group:nth-child(3) button{width:10%;background-color:#CCC;border:1px solid #d9d9d9;height:34px;border-radius:4px;color:#333;}
.message form i{color:#FF0033;}
.message .form-group a{display:block;width:145px;margin:auto;height:40px;background-color:#0087d2;border-radius:4px;text-align:center;line-height:40px;color:#fff;font-size:16px;margin-left:21%;}
.message ul{overflow:hidden;margin-left:9px;padding:30px 0;}
.message ul li{float:left;padding:0 5px;}
.message li a{padding:5px 10px;border:1px solid #ccc;transition:all .3s;display:block;margin-bottom:10px;color:#333;}
.message li a:hover,.message li.cur a{background-color:#0087d2;border-top:1px solid #0087d2;border-bottom:1px solid #009934;color:#fff;}
.message li a span{padding-right:5px;}


/*3*/
.list{overflow:hidden;padding:20px 0;}
.list div{width:30%;font-size:16px;text-align:center;color:#333;float:left;font-size:18px;}
.list ul{float:left;width:70%;}
.message .list ul{margin:0;padding:0;}
.message  form>em{display:block;font-size:16px;color:#333;margin-left:31%;}
.message  form >em a{color:#0087d2;text-decoration:underline;}
.message  form div>p u{text-decoration:none;font-size:30px;color:#0087d2;}
.message  form div>p{margin-left:31%;margin-top:35px;}
.third a{margin-left:31%!important;}

/*4*/
.choice{overflow:hidden;margin-left:9%;margin-top:15px;}
.choice>div{width:47%;margin-right:3%;float:left;padding:30px 15px;border:1px solid #dcdcdc;}
.choice em{margin-left:14%;transition:all .3s;margin-bottom:15px;display:block;height:36px;width:70%;line-height:25px;font-size:16px;color:#333;padding:5px;border:1px solid #ccc;cursor:pointer;}
.choice em span{width:18px;height:18px;border:1px solid #0087d2;padding-right:5px;display:inline-block;margin:0 10px;margin-bottom:-3px;}
.choice p{font-size:14px!important;line-height:30px!important;color:#333;margin:0!important;padding:0!important;}

.four p{margin-left:9%!important;}
.four a{margin-left:9%!important;}

.choice div em:hover, .choice div em.cur  {
background-color: #0087d2;
border-top: 1px solid #0087d2;
border-bottom: 1px solid #009934;
color: #fff;
}
.choice div em:hover span, .choice divem.cur  span{
	border:1px solid #fff;
	}
.choice div em.cur  span{background:url("../images/brand/cur.png")/*tpa=http://www.chuangyesan.com/images/brand/cur.png*/ center center no-repeat;}


/*5*/
.fifth>p{margin-left:9%!important;margin-top:35px;}
.fifth a{margin-left:9%!important;}
.message p u{font-size:32px;color:#0087d2;}