a,a:active,a:hover {
	text-decoration: none
}

.list-inline,.list-unstyled,nav .nav,ol,ul {
	list-style: none
}

dl,ol,ul {
	margin-top: 0
}



dl,hr {
	margin-bottom: 20px
}

a {
	background-color: transparent
}

a:active,a:hover {
	color: #e70
}

ol,ul {
	margin-bottom: 10px
}

.clear:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.row:after,nav .nav:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden
}

.pull-right {
	float: right
}

.pull-left {
	float: left
}

.hide {
	display: none
}

.show {
	display: block
}

.invisible {
	visibility: hidden
}

dt,label {
	font-weight: 700
}

.text-beyond-hide {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}


.posr {
	position: relative
}

.posa {
	position: absolute
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto
}

ol ol,ol ul,ul ol,ul ul {
	margin-bottom: 0
}

.list-unstyled {
	padding-left: 0
}

.list-inline {
	padding-left: 0;
	margin-left: -5px
}

.list-inline>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px
}

dd,dt {
	line-height: 1.42857143
}

dd {
	margin-left: 0
}


abbr[data-original-title],abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #777
}

.initialism {
	font-size: 90%
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 18px;
	border-left: 5px solid #eee
}

blockquote ol:last-child,blockquote p:last-child,blockquote ul:last-child {
	margin-bottom: 0
}

.table,address {
	margin-bottom: 20px
}

blockquote .small,blockquote footer,blockquote small {
	display: block;
	font-size: 80%;
	line-height: 1.42857143;
	color: #555
}

blockquote .small:before,blockquote footer:before,blockquote small:before {
	content: '\2014 \00A0'
}

.blockquote-reverse,blockquote.pull-right {
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid #eee;
	border-left: 0;
	text-align: right
}

.container,.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0
}

.blockquote-reverse .small:before,.blockquote-reverse footer:before,.blockquote-reverse small:before,blockquote.pull-right .small:before,blockquote.pull-right footer:before,blockquote.pull-right small:before {
	content: ''
}

.blockquote-reverse .small:after,.blockquote-reverse footer:after,.blockquote-reverse small:after,blockquote.pull-right .small:after,blockquote.pull-right footer:after,blockquote.pull-right small:after {
	content: '\00A0 \2014'
}



.modal,.modal-backdrop {
	right: 0;
	left: 0;
	bottom: 0
}

output {
	padding-top: 11px
}



.mr0 {
	margin-right: 0!important
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr12 {
	margin-right: 12px
}

.mr15 {
	margin-right: 15px
}

.mr20 {
	margin-right: 20px
}

.mr25 {
	margin-right: 25px
}

.mr30 {
	margin-right: 30px
}

.mr60 {
	margin-right: 60px
}

.mrp50 {
	margin-right: 50%
}

.ml0 {
	margin-left: 0!important
}

.ml5 {
	margin-left: 5px
}

.ml10 {
	margin-left: 10px
}

.ml12 {
	margin-left: 12px
}

.ml15 {
	margin-left: 15px
}

.ml20 {
	margin-left: 20px
}

.ml25 {
	margin-left: 25px
}

.ml30 {
	margin-left: 30px
}

.ml90 {
	margin-left: 90px
}

.mlp50 {
	margin-left: 50%
}

.mt0 {
	margin-top: 0!important
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.mt20 {
	margin-top: 20px
}

.mt25 {
	margin-top: 25px
}

.mt30 {
	margin-top: 30px
}

.mb0 {
	margin-bottom: 0!important
}

.mb5 {
	margin-bottom: 5px
}

.mb10 {
	margin-bottom: 10px
}

.mb15 {
	margin-bottom: 15px
}

.mb20 {
	margin-bottom: 20px
}

.mb25 {
	margin-bottom: 25px
}

.mb30 {
	margin-bottom: 30px
}

.m0 {
	margin: 0!important
}

.m5 {
	margin: 5px
}

.m10 {
	margin: 10px
}

.m15 {
	margin: 15px
}

.pr0 {
	padding-right: 0!important
}

.pr5 {
	padding-right: 5px
}

.pr10 {
	padding-right: 10px
}

.pr15 {
	padding-right: 15px
}

.pr20 {
	padding-right: 20px
}

.pr25 {
	padding-right: 25px
}

.pr30 {
	padding-right: 30px
}

.pl0 {
	padding-left: 0!important
}

.pl5 {
	padding-left: 5px
}

.pl10 {
	padding-left: 10px
}

.pl15 {
	padding-left: 15px
}

.pl20 {
	padding-left: 20px
}

.pl25 {
	padding-left: 25px
}

.pl30 {
	padding-left: 30px
}

.pt0 {
	padding-top: 0!important
}

.pt5 {
	padding-top: 5px
}

.pt10 {
	padding-top: 10px
}

.pt15 {
	padding-top: 15px
}

.pt20 {
	padding-top: 20px
}

.pt25 {
	padding-top: 25px
}

.pt30 {
	padding-top: 30px
}

.pb0 {
	padding-bottom: 0!important
}

.pb5 {
	padding-bottom: 5px
}

.pb10 {
	padding-bottom: 10px
}

.pb15 {
	padding-bottom: 15px
}

.pb20 {
	padding-bottom: 20px
}

.pb25 {
	padding-bottom: 25px
}

.index-activity,.pb30 {
	padding-bottom: 30px
}

.p0 {
	padding: 0!important
}

.p5 {
	padding: 5px
}

.p10 {
	padding: 10px
}

.p15 {
	padding: 15px
}

.p20 {
	padding: 20px
}

.p25 {
	padding: 25px
}

.p30 {
	padding: 30px
}

.store-list {
	cursor: pointer;
	font-size: 12px;
	height: 26px;
	width: 228px
}

.store-list .store-add-show {
	border: 1px solid #ccc;
	background: #fff;
	height: 40px;
	line-height: 40px;
	z-index: 2
}

.store-list .store-add-show .store-down-ico {
	background-position: -375px -215px;
	display: inline-block;
	height: 6px;
	width: 9px;
	float: right;
	margin-top: 16px
}

.store-list .shore-add-list {
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 5px #ddd;
	-moz-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd;
	background: #fff;
	left: 0px;
	top: 40px;
	width: 400px;
	z-index: 1
}

.store-list .shore-add-list .shore-close {
	background-position: -385px -215px;
	cursor: pointer;
	height: 17px;
	right: -8px;
	top: -8px;
	width: 17px
}

.store-list .shore-add-list .shore-list-tit {
	border-bottom: 2px #edd28b solid;
	color: #005aa0;
	height: 25px
}

.store-list .shore-add-list .shore-list-tit li {
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: none;
	height: 25px;
	line-height: 22px;
	margin-right: 3px;
	padding: 1px 1px 0
}

.store-list .shore-add-list .shore-list-tit li i {
	background-position: -403px -221px;
	display: inline-block;
	height: 5px;
	opacity: .5;
	vertical-align: middle;
	width: 7px
}

.store-list .shore-add-list .shore-list-tit li.select i,.store-list .shore-add-list .shore-list-tit li:hover i {
	opacity: 1
}

.store-list .shore-add-list .shore-list-tit li.select {
	border: 2px solid #edd28b;
	border-bottom: 0;
	padding: 0
}

.store-list .shore-add-list .shore-list-con {
	color: #005aa0;
	display: none
}

.store-list .shore-add-list .shore-list-con .shore-list-ico {
	height: 22px;
	line-height: 22px;
	width: 100%
}

.store-list .shore-add-list .shore-list-con .shore-list-ico i {
	display: inline-block;
	height: 16px;
	margin-top: 3px;
	width: 16px;
	vertical-align: top
}

.store-list .shore-add-list .shore-list-con .shore-city-name li,.store-list .shore-add-list .shore-list-con .shore-list-tag {
	width: 25%;
	height: 25px;
	overflow: hidden
}

.store-list .shore-add-list .shore-list-con .shore-list-ico .shore-list-hot-ico {
	background-position: -413px -215px
}

.store-list .shore-add-list .shore-list-con .shore-list-ico .shore-list-all-ico {
	background-position: -429px -215px
}

.store-list .shore-add-list .shore-list-con .shore-city-name li span:hover,.store-list .shore-add-list .shore-list-con .shore-list-tag em:hover {
	background: #b79567;
	color: #fff;
	text-decoration: underline
}

.store-list .shore-add-list .shore-list-con .shore-list-ico span {
	font-weight: 700
}

.store-list .shore-add-list .shore-list-con .shore-list-tag em {
	height: 25px;
	line-height: 25px
}

.store-list .shore-add-list .shore-list-con .shore-city-name li span {
	height: 25px;
	line-height: 25px
}

.store-list .shore-add-list .shore-list-con.select {
	display: block
}

.store-list .shore-add-list .shore-list-bt {
	border-top: 1px #ddd dashed
}

i {
	background: url("../images/icon.png")/*tpa=http://www.chuangyesan.com/images/icon.png*/ no-repeat
}