.big_block{height:508px;background:#52960d url("../images/custom/custom_002.jpg")/*tpa=http://www.chuangyesan.com/images/custom/custom_002.jpg*/ center center no-repeat;}
.big_block p:first-child{padding-top:110px;line-height:94px;background:url("../images/custom/custom_03.png")/*tpa=http://www.chuangyesan.com/images/custom/custom_03.png*/ center 100% no-repeat;text-align:center;font-size:36px;font-weight:bold;}
.big_block p{font-size:36px;color:#fff;text-align:center;}
.big_block p:nth-child(2){margin-top:30px;}
.big_block p:nth-child(3){margin-top:50px;font-size:24px;}
.big_block span{text-align:center;display:block;margin:auto;margin-top:80px;}
em{display:block;}
.team ul{overflow:hidden;padding:0 80px;padding-top:70px;padding-bottom:200px;}
.team ul li{float:left;width:20%;text-align:center;}
.team ul li a{display:block;}
.team ul li p:first-child{width:126px;height:126px;border-radius:6px;background-color:#FFF;border:2px solid #b5b5b5;text-align:center;line-height:80px;margin:0 auto;padding:0;padding-top:22px;}
.team ul li p:last-child{font-size:18px;margin-top:15px;text-align:center;color:#515151;}
.resources em,.team em,.customer em{padding-top:90px;padding-bottom:50px;font-size:36px;color:#4d4d4d;text-align:center;}
.resources .container>p,.customer .container>p,.team .container>p{font-size:18px;line-height:40px;padding:0 50px;text-align:center;}
.resources .container>p{padding:0;}
.resources ol{overflow:hidden;padding-top:40px;width:800px;margin:auto;padding-bottom:200px;}
.resources ol li{width:33.333%;float:left;text-align:left;border-left:3px solid #519911;}
.resources ol li p:first-child{font-size:48px;color:#519911;}
.resources ol li p:last-child{font-size:18px;color:#4d4d4d;margin-top:12px;}
.resources ol li p{padding-left:30px;}
.resources .container{width:960px;}
.resources{background-color:#f3f3f3;}
.area{height:648px;background:url("../images/custom/custom_02.jpg")/*tpa=http://www.chuangyesan.com/images/custom/custom_02.jpg*/ center center;}
.area em{padding-top:70px;padding-bottom:60px;font-size:36px;color:#fff;text-align:center;}

		.carousel{width:960px; height: 275px; position: relative; overflow: hidden; margin:auto;}
		.carousel ul.imageslist{position: absolute;top:0;left:0;list-style: none; width: 9000px;}
		.carousel ul.imageslist li{float: left;}
	 .num{overflow:hidden;width:126px;margin:auto;height:100px;margin-top:90px;}
 .num span{float: left; margin-right: 6px; width: 25px; height: 25px; border-radius:50%;border:2px solid #fff; cursor:pointer;}
	.num span.cur{background: #0087d2;}
.carousel ol li{width:250px;float:left;box-sizing:border-box;}
.carousel ol li a{display:block;height:275px;border:1px solid #94e2ff;box-shadow:0px 1px 1px 1px #94e2ff;margin-right:40px;text-align:center;padding-top:70px;}
.carousel ol li a p{font-size:24px;text-align:center;margin-top:30px;color:#fff;}
.carousel ol li:last-child a{margin:0;}
.carousel ol{overflow:hidden;}
.carousel ol li:last-child{width:210px;}
.customer {background:0;background-color:#f2f2f2;padding-bottom:100px;}
.customer .container>p{padding:0 120px;color:#5e5e5e;padding-bottom:40px;}
.customer .container{width:960px;}
.customer em{color:#5e5e5e;}
.customer ul{ov;height:;}
.customer li{float:left;width:20%;background-color:#FFF;text-align:center;}

.team .container>p {width:860px;margin:auto;}