/*levi 20151212*/
.qa_i{ display:block; float:right; width:20px; height:20px; margin:8px 0 0 3px; position:relative; background:url("../images/qaico.png")/*tpa=http://www.chuangyesan.com/images/qaico.png*/ no-repeat; cursor:pointer;}
.qa_t_info{ position:absolute; left:-5px; top:27px; border:1px solid #e3e3e3; background-color:#f5f5f5; font-size:12px; width:250px; text-align:left; padding:0 8px;  box-shadow:0 0 2px #e3e3e3; z-index:99; line-height:24px; display:none;}
.qa_t_info span.qab_s{ position:absolute; width:15px; height:8px; left:7px; background:url("../zys_files/qai1.png")/*tpa=http://www.chuangyesan.com/zys_files/qai1.png*/ no-repeat 0 0; top:-8px;}

.service form dd.no_style{ background-color:transparent;}
.sale_txt{ height:20px; line-height:20px; padding:0 6px; margin:8px 0 0 5px; background-color:#f3565d; border-radius:2px; color:#fff; font-size:12px;}
.qa_t_info > b{ padding-top:5px; display:block; position:relative; border-bottom:1px solid #fff;}
.qa_t_info > b:before{ content:''; display:block; height:14px; background-color:#0087d2; width:3px; float:left; margin-right:5px; margin-top:5px;}

.qa_t_info > p.dl_list{ line-height:24px; font-family:宋体; padding-left:10px; padding-bottom:10px;}


/*2016.1.13*/
.navs .left.logo1{width:280px;margin-right:20px;}
.navs .left.logo1 img{max-width:100%;margin-top:-6px;}
.error{padding:0px 30px;background-color:#f7f7f7;}
.nofind {text-align:center;margin-top:140px;}
.error p{text-align:center;color:#adaeae;font-size:20px;line-height:36px;}
.error .link li{display:inline-block;padding:0 10px;border-right:1px solid #9c9c9c;text-align:center;}
.error .link li a{font-size:14px;color:#9c9c9c;}
.error .container> em{display:block;text-align:center;color:#6dbc1b;font-size:18px;}
.error .container> em b{font-size:24px;display:inline-block;padding-right:5px;}
.error .link{text-align:center;margin-top:100px;}
.error .link li:last-child{border:none;}
.error .link li:hover a{color:#0087d2;font-weight:bold;}
.error .link  ul{height:20px;overflow:hidden;}
.nav0.navs{height:56px!important;padding-bottom:7px;}


/*2016.1.21*/
.headline{border-bottom:1px solid #4f4f4f;color:#333;padding:0 20px;box-sizing:border-box;overflow:hidden;line-height:40px;margin-top:25px;}
.headline h1{font-size:26px!important;float:left;color:#555;}
.headline .other{float:right;}
.headline .other span{padding:0 15px;color:#999;}
.headline .other span:first-child{border-right:1px solid #ccc;}
.wrap .infocs{margin-top:30px;margin-bottom:50px;overflow:hidden;}
.infocs>div{width:50%;float:left;}
.infocs>div:last-child{padding-left:5%;border-left:1px solid #ccc;}
.infocs .info li{float:left;color:#7b7b7b;line-height:40px;padding-right:8px;}
.infocs .info li em{color:#555;font-weight:bold;font-size:30px;}
.infocs .info ul{overflow:hidden;}
.infocs .info ul li:first-child{font-size:20px;}
.infocs .info ul li:not(:first-child){font-size:16px;color:#8f8f8f;}
.user ul li{color:#7b7b7b;line-height:36px;}
.user ul li i{font-size:20px;}
.user ul li span{font-size:18px;color:#4f4f4f;}
.user ul li span.phone{display:none;cursor:pointer;color:#358101;font-size:22px;font-weight:bold;}
.user ul li.call_2{cursor:pointer;}
.user ul li.call_2 u{font-style:normal;content:'请点击查看';text-decoration:none;font-size:18px;color:#ccc;}
.user .avatar{margin-bottom:20px;}

/*2016.1.29*/
.info_img{position:fixed;width:100%;height:700px;background:rgba(0,0,0,0.7);top:0;left:0;text-align:center;display:none;z-index:10000;overflow-x: scroll;}
