.wrap{padding: 55px 0;}
.wrap .nav{clear:both;width:100%;padding:0 4%;}
.daohang,.daohang b,.daohang a{color:#676767;font-size:14px;}
.daohang b{font-weight:normal;}
.daohang span.glyphicon{font-weight:normal;}
.daohang a.active{color:#eb6100;}
.h6{font-size:32px;font-weight:normal;text-align:center;}
.c585858{color:#585858;}
p.time{font-size:14px;text-align:center;}
.c676767{color:#676767;}
p.dialogue{font-size:16px;line-height:32px;text-indent:28px;}
.padding_x_1{padding:0 7%;padding-top:30px;}
.img{text-align:center;margin:0 auto;}
.padding_y_30{padding:50px 0;}
.bg5581ab{background-color:#358000 ;}
.divide{width:86%;height:2px;display:block;}
.margin_y_50{margin:70px 7%;}
.link li{font-size:14px;line-height:30px;color:#0087d2;margin:0 7%;}
.link li a{color:#358000 ;}
.comeback{width:120px;height:30px;float:right;border-radius:4px;background-color:#949494;color:#fff;padding-left:40px;line-height:30px;margin:0 7%;background-image:url("../image/news_inner/news_inner_03.png")/*tpa=http://www.chuangyesan.com/image/news_inner/news_inner_03.png*/;background-repeat:no-repeat;background-position:80% center;font-size:14px;cursor:pointer;}
.comeback:hover{background-color:#0087d2;color:#fff;}
.margin_y_double{margin-top:30px;margin-bottom:120px;}
.daohang{
padding-top: 70px;
padding-bottom: 50px;
}

.navs{height:51px;}
dl.navigation{margin:50px 0;overflow:hidden;}
dl.navigation dt,dl.navigation dd,dl.navigation dd a{float:left;font-size:12px;color:#7e7e7e;font-family:'宋体';font-weight:normal;line-height:20px;}
dl.navigation dt {padding-left:25px;background:url("../images/financial/financial_03.png")/*tpa=http://www.chuangyesan.com/images/financial/financial_03.png*/ 3% center no-repeat;}
dl.navigation dd a{display:block;float:none;padding:0 12px;position:relative;}
dl.navigation dd a:before{content:'>';position:absolute;right:0;top:0;}
dl.navigation dd:last-child a:before{display:none;}
dl.navigation dd.cur a{color:#0087d2;}
@media (max-width: 1199px ){
	.float_lf{width:100%;text-align:center;margin-bottom:50px;}
	.float_rt{width:100%;}
.width_20{width:20%;}
.width_80{width:80%;}


@media (min-width: 1200px ){	
 }
@media (max-width: 1199px ){
}
@media (max-width: 991px){
}
@media (max-width: 767px)  {
#banner .jiaodian{position:absolute;top:0;left:0;width:100%;height:auto;}
	
}
@media (max-width:556px) {

}
@media (max-width:494px) {
.img img{width:100%;}
.padding_y_30 {
    padding: 30px 8%;
}
}
@media (max-width: 450px) {
}
@media (max-width: 330px) {
}
@media (max-width: 319px) {

}

