.navs .control {display:none;}
.wrap{background-color:#f7f7f7;margin-top:1px;}
dl.navigation{margin-top:40px;overflow:hidden;margin-bottom:30px;}
dl.navigation dt,dl.navigation dd,dl.navigation dd a{float:left;font-size:12px;color:#7e7e7e;font-family:'宋体';font-weight:normal;line-height:20px;}
dl.navigation dt {padding-left:25px;background:url("../images/financial/financial_03.png")/*tpa=http://www.chuangyesan.com/images/financial/financial_03.png*/ 3% center no-repeat;}
dl.navigation dd a{display:block;float:none;padding:0 12px;position:relative;}
dl.navigation dd a:before{content:'>';position:absolute;right:0;top:0;}
dl.navigation dd:last-child a:before{display:none;}
dl.navigation dd.cur a{color:#0087d2;}

.activity{margin:50px 0;overflow:hidden;}
.activity em,.number em{display:block;height:60px;clear:both;text-align:center;background:url("../images/number/number_03.png")/*tpa=http://www.chuangyesan.com/images/number/number_03.png*/ center center no-repeat;font-size:36px;color:#333;margin-bottom:20px;}
.activity img{float:left;}
.activity .right{float:left;padding-left:110px;}
.activity p{font-size:18px;line-height:32px;color:#777777;}
.activity .right p:first-child{margin-top:85px;}
.activity .right p:last-child{font-size:16px;}
.activity span{display:block;color:#777777;font-size:18px;}
.activity i{padding:5px 20px;border-radius:4px;background-color:#0087d2;font-size:24px;color:#fff;}
.number .content{overflow:hidden;margin-top:40px;}
.number .left{float:left;width:75%;border-right:1px solid #ededed;}
.number .right{float:left;width:25%;}
.number p{font-size:20px;height:50px;line-height:50px;border-bottom:1px solid #ededed;padding-left:20px;}
.number .choose{padding:15px 30px;}
.number .choose ul{overflow:hidden;height:90px;border-bottom:2px dashed #ebebeb;}
.number .choose ul:last-child{border:none;}
.number .choose li{float:left;width:20%;text-align:center;padding-top:28px;cursor:pointer;}
.number .choose li span{font-weight:bold;font-size:18px;color:#727171;display:block;text-align:center;transition:all .3s;}
.number .choose li  a{width:100px;height:25px;color:#fff;background-color:#81b1d9;margin:auto;margin-top:5px;font-size:14px;border-radius:4px;display:block;display:none;transition:all .3s;}
.number .choose li:hover span{margin-top:-5px;}
.number .choose li:hover  a{display:block;}
.page ul{overflow:hidden;float:right;}
.page ul li{float:left;margin-left:10px;}
.page ul a{display:block;padding:8px 10px;border:1px solid #afd8ff;font-size:12px;border-radius:4px;}
.page{padding:30px 50px;overflow:hidden;border-top:1px solid #f2f2f2;}
.number .content{border:1px solid #f2f2f2;}
.number .right p{background-color:#0087d2;color:#fff;}
.number .select{padding:15px 40px;}
.number .select li{width:100%;height:90px;border-bottom:2px dashed #ebebeb;text-align:center;padding-top:28px;overflow:hidden;}
.number .select li span{margin-left:15px;font-weight:bold;font-size:18px;color:#727171;display:block;text-align:center;float:left;}
.number .select li  a{width:70px;height:27px;color:#fff;background-color:#4e627b;margin:auto;margin-top:5px;font-size:20px;border-radius:4px;display:block;float:left;margin-top:-2px;margin-left:15px;}
.number .right button{width:175px;height:40px;border-radius:20px;background-color:#f3565d;text-align:center;line-height:40px;font-size:16px;color:#fff;border:none;display:block;margin:20px auto;}

.advantage{height:58px;background:url("../images/number/number_11.png")/*tpa=http://www.chuangyesan.com/images/number/number_11.png*/ center center no-repeat;text-align:center;font-size:36px;color:#373737;margin-top:70px;}
.type .container{padding:110px 80px 100px 160px;overflow:hidden;}
.type img{float:left;}
.type em{font-size:40px;display:block;color:#0087d2;margin-bottom:10px;}
.type .container div{padding-left:10%;float:left;width:50%;}
.type p{font-size:16px;color:#878787;line-height:30px;}
.type2 img{padding-left:10%;}
.type2 .container  div{padding:0;padding-right:10%;}
.type2{background-color:#f5f6f7;}
.box{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;}
.submit{width:665px;background-color:#FFF;height:450px;position:relative;top:20%;left:50%;margin-left:-333px;border:1px solid #0087d2;border-radius:8px;}
.submit .title{height:45px;line-height:32px;background-color:#0087d2;font-size:24px;font-weight:bold;color:#fff;text-align:center;padding:7px 18px;}
.submit form{padding:30px 35px ;padding-right:0;}
.submit .title span{float:right;width:28px;height:32px;cursor:pointer;background:url("../images/number/close_03.jpg")/*tpa=http://www.chuangyesan.com/images/number/close_03.jpg*/ 0 0 no-repeat;}
.submit .phone{overflow:hidden;margin-bottom:25px;}
.phone span{float:left;width:15%;font-size:18px;}
.phone ul{float:left;width:85%;overflow:hidden;}
.phone li{width:155px;height:32px;border-radius:4px;background-color:#4e627b;margin-right:10px;float:left;}
.phone li a{display:block;color:#fff;padding-left:5px;background:url("../images/number/close_07.jpg")/*tpa=http://www.chuangyesan.com/images/number/close_07.jpg*/ 97% center no-repeat;color:#fff;font-size:18px;line-height:32px;}
.submit label{font-size:18px;width:15%;font-weight:normal;}
.submit input[type='text']{height:42px;border-radius:4px;width:70%;border:1px solid #ccc;padding-left:15px;}
.submit .form-group{margin-bottom:25px;}
.submit .radios{overflow:hidden;margin-bottom:25px;}
.submit .radios label{width:33.333%;float:left;display:inline-block;}
.submit .radios label input[type='radio']{width:30%;}
.submit .radios label:not(:nth-child(1)){width:15%;padding-left:3%;}
.submit  i{color:#dc0000;}
.submit button{width:160px;height:45px;margin-left:25px;background-color:#f3565d;line-height:45px;font-size:18px;color:#fff;border-radius:4px;border:none;}
.submit button[type='button']{background-color:#4e627b;}

.find{overflow:hidden;padding:25px 40px;border:2px solid #757a86;margin-top:50px;}
.find>*{float:left;}
.find p{width:15%;font-size:30px;font-weight:bold;color:#474e5e;border:none;margin-right:15px;}
.find form>*{float:left;}
.find form input{width:44px;height:44px;border:2px solid #757a86;margin:5px;padding-left:15px;font-size:24px;}
.find form .form-group{overflow:hidden;margin-left:35px;margin-top:5px;margin-bottom:0;}
.find form label{margin-top:25px;width:50px;height:2px;background-color:#757a86;margin:5px;margin-top:25px;}
.find form .form-group button{border:none;float:left;width:115px;height:45px;font-size:24px;font-weight:bold;background:#f3565d;text-align:center;line-height:45px;margin-left:15px;color:#fff;}
.find form .form-group button[type='reset']{background-color:#4e627b;}
.level{padding:50px 35px;padding-bottom:0;}
.level dt{float:left;font-size:18px;color:#3b3b3b;font-weight:bold;padding-right:15px;}
.level dd{float:left;padding:0 25px;border-right:1px solid #cfd1d5;}
.level dd:last-child{border:none;}
.level dd a{display:block;color:#3b3b3b;font-size:18px;}
.level dl{overflow:hidden;padding-bottom:30px;}