.navs .control {display:none;}
.wrap{background-color:#f7f7f7;margin-top:1px;}
dl.navigation{margin-top:40px;overflow:hidden;margin-bottom:20px;}
dl.navigation dt,dl.navigation dd,dl.navigation dd a{float:left;font-size:12px;color:#7e7e7e;font-family:'宋体';font-weight:normal;line-height:20px;}
dl.navigation dt {padding-left:25px;background:url("../images/financial/financial_03.png")/*tpa=http://www.chuangyesan.com/images/financial/financial_03.png*/ 3% center no-repeat;}
dl.navigation dd a{display:block;float:none;padding:0 12px;position:relative;}
dl.navigation dd a:before{content:'>';position:absolute;right:0;top:0;}
dl.navigation dd:last-child a:before{display:none;}
dl.navigation dd.cur a{color:#559b0d;}
ul.main{padding-top:50px;overflow:hidden;}
.searchs{padding-bottom:200px;background-color:#f7f7f7;}
 .searchs form{width:800px;margin:auto;padding-top:55px;background-color:#f7f7f7;}
 .searchs form ul{overflow:hidden;}
 .searchs form ul li{text-align: left;
padding: 0 10px;
margin: 40px 0 10px;
display: inline-block;
border-right: 1px solid #d8d8d8;
height: 18px;
line-height: 18px;}
 .searchs form ul li:first-child{padding: 0 10px 0 0;}
 .searchs form ul li:last-child{border:none;}
 .searchs form ul li i{font-style:normal;color:#000;font-size:18px;color:#ea0000;}
 .searchs form input[type='text']{height: 46px;padding: 12px 9px 12px 35px;
width: 619px;
border: 1px solid #fff;
background: #fff url("../images/construct/search.png")/*tpa=http://www.chuangyesan.com/images/construct/search.png*/ no-repeat 10px center;
font-size: 16px;
color: #777;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;}
 .searchs form a{display:block;position: absolute;
top: 0;
right: 0;
width: 180px;
height: 42px;
border: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #559b0d;
color: #fff;
font-size: 18px;
cursor: pointer;
font-family: "microsoft yahei";border-bottom-left-radius: 0;
border-top-left-radius: 0;
height: 46px;text-align: center;
line-height: 46px;}
 .searchs form div.form-group{position: relative;
padding: 1px;
height: 48px;
background: #559b0d;
width: 698px;
float: left;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;height: 48px;
width: 798px;
padding: 1px;}

.fix{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);z-index:100000;display:none;}
.fix .inner{margin: 0 auto;
margin-top: 60px;
width: 500px;
position: relative;
border: 3px solid #666;background-color:#FFF;}
.inner >p{height: 45px;
font-size: 16px;
line-height: 46px;
border-bottom: 1px solid #e1e1e1;
color: #4d4d4d;
text-indent: 20px;
background-color: #f9f9f9;
background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));}
.inner >p >span{color: #999;
cursor: pointer;
display: block;
font-family: tahoma;
font-size: 24px;
font-weight: 700;
height: 18px;
line-height: 14px;
position: absolute;
right: 12px;
text-decoration: none;
top: 12px;
z-index: 10;}
.inner form{background: #fff;
padding: 18px 26px;
overflow: hidden;
z-index: 20;}
.inner form p{font-size:16px;margin-bottom:20px;text-align:center;}
.inner .form-group label{font-size: 14px;
color: #333;
margin-bottom: 5px;
width: 30%;
float: left;
height: 34px;
line-height: 34px;
text-align: right;font-weight:normal;}
.inner .form-group input[type='text'] {
display: inline-block;
margin-bottom: 0;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ccc;
color: #555;
font-size: 12px;
height: 34px;
line-height: 20px;
padding: 8px 6px;
width: 210px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.inner .form-group  i{color:#ea0000;}
.inner button{display: block;
height: 51px;
width: 141px;
background:#559b0d;margin-top:35px;border-radius:5px;
margin: 10px auto;-webkit-box-shadow:none;font-size:22px;color:#fff;border:none;}
