@charset "utf-8";
/* CSS Document */
div, li, td, p, select, input, textarea, a, button, input {
font: 12px Verdana, Arial, Helvetica, sans-serif;
color: #505050;
text-decoration: none;
}
div{margin:0;border:0;padding:0;}
	
.scdt{
	width: 1002px;
	height: 139px;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.log{
	width:448px;
	height:61px;
	top:28px;
	left:31px;
	z-index:6;
	position:absolute;
}
.ssl{
	width: 297px;
	height: 39px;
	top: 40px;
	left: 672px;
	z-index: 5;
	position:absolute;
}
div.globalsearchformzone{
padding:0px;
margin:0px;
height:26px;
background:url("../img/searchl.jpg")/*tpa=http://www.chuangyesan.com/images/website/05/img/searchl.jpg*/ 0 0 no-repeat;
}


div.globalsearchformzone div.globalsearchform{
float:left;
padding:0px 12px 0px 10px;
margin:0px;
height:26px;
font:12px/22px simsun;
color:#ffffff;
}

div.globalsearchformzone div.globalsearchform1{
float:right;
padding:0px;
margin:0px;
line-height:25px;
}

div.globalsearchformzone div.globalsearchform .input{
border:0px;
height:18px;
line-height:19px;
padding:0px;
margin:0px;
background:transparent;
color:#767676;
width:200px;
}

div.globalsearchformzone div.globalsearchform1 .imgbutton{
padding:0px;
margin:0px;
}
.scd{
	width: 900px;
	height: 33px;
	top: 103px;
	left: 45px;
	z-index: 11;
	position:absolute;
}
#menumain{
   margin:0;
   white-space:nowrap;
   overflow:hidden;
   width:100%;
}

#menumain .menu_main{
   float:left;
   height:33px;
   text-align:center;
   margin:0px 0px 0px -2px;
   padding:0px;
}

#menumain .menumain{
   float:left;
   height:33px;
   text-align:center;
   margin:0px;
   padding:0px;
   width:100px;
   background:url("../img/menu.jpg")/*tpa=http://www.chuangyesan.com/images/website/05/img/menu.jpg*/ 0px 0px no-repeat;
}

#menumain a:link,#menumain a:active,#menumain a:visited{
   color: #efefef; 
   display:block;
   text-decoration: none;
   font:12px/34px 'SimSun',Arial,Sans-Serif;
}

#menumain a:hover {
   color: #ffcc00; 
   text-decoration: none;
   font:12px/34px 'SimSun',Arial,Sans-Serif;
}
.lb{
	width: 1002px;
	height: 280px;
	top: 139px;
	left: 0px;
	z-index: 10;
}
#advsheadlb{
margin:0;
padding:0;
}

#advsheadlb .advsheadlbpic{
width:100%;
border:0px;
display:none;
}
.snt{
	width: 1002px;
	height: 202px;
	top: 44px;
	left: 0px;
	z-index: 1;
	position:absolute;
}
.snry{
	width: 246px;
	height: 222px;
	top: 0px;
	left: 0px;
	z-index: 12;
	position:absolute;
}
.snre{
	width: 498px;
	height: 222px;
	top: 0px;
	left: 246px;
	z-index: 7;
	position:absolute;
}
ul.newslist_time{
margin:60px 32px 1px 43px;
padding:0px;
position:absolute;
}

li.newslist_time {
margin:0px;
padding-left:13px;
list-style-type: none;
height:26px;
width:420px;
background: transparent url("../img/li.gif")/*tpa=http://www.chuangyesan.com/images/website/05/img/li.gif*/ 0px 2px no-repeat;
}

li.newslist_time .time{
float:right;
font:10px/12px Verdana, Arial, Helvetica, sans-serif;
color:#8c8c8c;

}

a.newslist_time:link,a.newslist_time:visited,a.newslist_time:active{
color:#333;
text-decoration: none;
font:12px/14px Verdana, Arial, Helvetica, sans-serif;
}

a.newslist_time:hover{
color:#ff0000;
font:12px/14px Verdana, Arial, Helvetica, sans-serif;
}
.snrs{
	width: 258px;
	height: 222px;
	top: 0px;
	left: 744px;
	z-index: 13;
	position:absolute;
}
.snrf{
	width: 1002px;
	height: 303px;
	top: 246px;
	left: 0px;
	z-index: 9;
	position:absolute;
}
.productlistx a:link {
	color: #432121;
	text-decoration: none;
	font-size: 12px;
}

.productlistx a:visited {
	text-decoration: none;
	color: #000000;
}

.productlistx a:hover {
	color: #666666;
}

.productlistx a:active {
    color: #666666;
	text-decoration: none;
}

.productlistx {
	visibility:visible;
	margin:0px;
	padding:0px;
	position: relative;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 12px;
	overflow: hidden;
	width:100%;
	padding-top:45px;
}

.rollproductlists {
	margin:0px;
	padding:0px;
	overflow:hidden;
	width:100%;
}

.blkproductlistx {
	border:0px; 
	padding:0px; 
	overflow: hidden;
	ZOOM: 1; 
	position: relative;
}

.blkproductlistx .LeftButton {
	background: url("../img/roll.jpg")/*tpa=http://www.chuangyesan.com/images/website/05/img/roll.jpg*/ no-repeat 0px 0px;
	left:8px;
	float:left;
	width:11px;
	cursor: pointer;
	position: absolute;
	height:22px;
	top:110px;
}

.blkproductlistx .RightButton {
	background: url("../img/roll.jpg")/*tpa=http://www.chuangyesan.com/images/website/05/img/roll.jpg*/ no-repeat -11px 0px;
	right:8px;
	float:right;
	width:11px;
	cursor: pointer;
	position: absolute;
	height:22px;
	top:110px;
}

.blkproductlistx .Cont {
	padding-top:20px;
	margin:0px 0px 0px 31px; 
	text-align:center;
	overflow: hidden;
}

.blkproductlistx .box {
	float:left;
	text-align:center;
	margin:0px;
	padding:0px;
	width:190px;
}

.blkproductlistx .border {
	background-color:#fff;
	float:left;
	text-align:center;
	margin:0px;
	padding:4px;
	border:1px #cacaca solid;
}

.box .fang{
	padding-bottom:4px;
	margin:0px;
	text-align:center;
}

.box .picFit{
	overflow:hidden;
}

.blkproductlistx .box img {
}

div.prodtitle{
text-align:center;
overflow: hidden;
white-space:nowrap;
}

div.box a.prodtitle:link,div.box a.prodtitle:visited,div.box a.prodtitle:active{
display:block;
color:#2e2e2e;
font:12px/36px SimSun,Arial,Sans-Serif;
text-decoration: none;
background-color:#ececec;
}

div.box a.prodtitle:hover{
color:#ff0000;
text-decoration: underline;
font:12px/36px SimSun,Arial,Sans-Serif;
}
.xcdt{
	width: 1002px;
	height: 116px;
	top: 1px;
	left: 0px;
	z-index: 3;
	position:absolute;
}
.xcd{
	width: 1002px;
	height: 34px;
	top: 4px;
	left: 0px;
	z-index: 4;
	position:absolute;
}
div#bottommenu{
margin: 0;
padding:0;
border: 0;
height: 28px;
color:#fff;
font:11px/28px SimSun;
text-align:center;
}


div#bottommenu a:link,div#bottommenu a:visited,div#bottommenu a:active{
margin:0px 5px 0px 2px;
color:#fff;
font:12px/28px 'SimSun',Arial,Sans-Serif;
text-decoration: none;
}

div#bottommenu a:hover{
margin:0px 5px 0px 2px;
color:#eee;
font:12px/28px 'SimSun',Arial,Sans-Serif;
text-decoration: underline;
}

.dxx{
	width: 1002px;
	height: 30px;
	top: 62px;
	left: 0px;
	z-index: 8;
	position:absolute;
}
.fleft{
	width:236px;
	float:left;
}
.fright{
	width:766px;
	float:right;
}
div.titlemenu_dolphin{
margin:0px;
padding:5px 40px 20px;
}

div.titlemenu_dolphin a.titlemenu_dolphin:link,div.titlemenu_dolphin a.titlemenu_dolphin:visited,div.titlemenu_dolphin a.titlemenu_dolphin:active{
display:block;
text-decoration: none;
font:12px/32px Verdana, Arial, Helvetica, sans-serif;
height:32px;
text-align:left;
background:url("../img/dot2.jpg")/*tpa=http://www.chuangyesan.com/images/website/05/img/dot2.jpg*/ 0px 0px no-repeat;
padding-left:50px;
margin:0px;
color:#181818;
}

div.titlemenu_dolphin a.titlemenu_dolphin:hover{
display:block;
color: #ff0000; 
text-decoration: none;
}
div#nav {
color:#464646;
padding:14px 0px 0px 50px;
}

div#nav a{
color:#464646;
}
div.page_content {
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
color:#333;
margin:0px;
padding-bottom:40px;
}

div.page_content p,div.page_content a,div.page_content td,div.page_content span,div.page_content li{
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
color:#333;
}
div.newssearchformzone{
	padding:10px 0px 50px 42px;
	height:100%;
	margin:0px;
}

div.newssearchformzone div.newssearchform{
	height: 20px;
	line-height:19px;
	margin-top:4px;
}

div.newssearchformzone div.newssearchform .inputtext{
	border:1px #ddd solid;
	height:18px;
	line-height:17px;
}
div.newssearchformzone div.newssearchform2{
	height: 20px;
	line-height:19px;
	margin-top:3px;
	padding:0px;
}

div.newssearchformzone div.newssearchform .box{
    BORDER: #e3e9ef 1px solid;
	FONT-SIZE: 10pt;
	color:#505050;
	FONT-FAMILY: "verdna";
		
}

div.newssearchformzone div.newssearchform .selectBoxSelectedArea {
    PADDING-LEFT: 3px;
	FONT-SIZE: 12px;
	COLOR: #505050;
	LINE-HEIGHT: 17px;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR:#ffffff;
}
div.newssearchformzone div.newssearchform .selectBoxSelectedAreaFocus {
    PADDING-LEFT: 3px;
	FONT-SIZE: 12px;
	COLOR: #333333;
	LINE-HEIGHT: 17px; 
	PADDING-TOP: 1px;  
	BACKGROUND-COLOR: #ffffff
}
div.newssearchformzone div.newssearchform .selectBoxOption {
    PADDING-LEFT: 3px; 
	FONT-SIZE: 12px; 
	COLOR: #505050; 
	LINE-HEIGHT: 17px; 
	PADDING-TOP: 2px;  
	BACKGROUND-COLOR: #ffffff;
	
}
div.newssearchformzone div.newssearchform .selectBoxOptionOver {
    PADDING-LEFT: 3px; 
	FONT-SIZE: 12px; 
	COLOR: #333333; 
	LINE-HEIGHT: 17px; 
	PADDING-TOP: 2px;  
	BACKGROUND-COLOR: #ffffff
}
div.newssearchformzone div.newssearchform .selectBoxOptionInnerLayer {
    BORDER: #e3e9ef 1px solid; 
	SCROLLBAR-FACE-COLOR: #ffffff; 
	SCROLLBAR-HIGHLIGHT-COLOR: #b4b4b4; 
	OVERFLOW: auto;
	SCROLLBAR-SHADOW-COLOR: #b4b4b4; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #838383; 
	SCROLLBAR-TRACK-COLOR: #eaeaea; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
	BACKGROUND-COLOR: #ffffff;
}
div#newsquery {
margin:0px;
padding:0px;
}

div#newsquery ul{
margin:0;
padding:0;
}

div#newsquery li{
list-style-type: none;
height:37px;
font-size: 12px;
overflow: hidden;
line-height:28px;
background:url("../img/line.jpg")/*tpa=http://www.chuangyesan.com/images/website/05/img/line.jpg*/ 0px 0px no-repeat;
}

div#newsquery a:link,div#newsquery a:visited,div#newsquery a:active{
text-decoration: none;
font:12px/26px Verdana, Arial, Helvetica, sans-serif;
color:#333;
}

div#newsquery a:hover{
text-decoration: underline;
font:12px/26px Verdana, Arial, Helvetica, sans-serif;
color:#ff6600;
}


div#newsquery li.title{
padding-left:22px;
}


div#newsquery div.title{
float:left;
font:12px/26px Verdana, Arial, Helvetica, sans-serif;
}

div#newsquery .time{
float:right;
white-space: nowrap;
overflow: hidden;
font:10px/22px Verdana, Arial, Helvetica, sans-serif;
padding-right:5px;
color:#999;
}
div#showpages {
clear:both;
padding:0px;
margin:20px 0px;
width:100%;
height:30px;
white-space: nowrap;
}

div#pagesinfo {
float:left;
padding:3px 8px;
white-space: nowrap;
}

div#pages {
float:right;
padding-right:8px;
white-space: nowrap;
}

div#pages ul{
margin:0;
padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
color:#303030;
text-decoration: none;
}

div#pages a:hover{
color:#ff0000;
text-decoration: none;
}

div#pages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
background:#dcd9d4;
color:#303030;
border:1px #dcd9d4 solid;
white-space: nowrap;
}

div#pages li.pagesnow{
color:#303030;
background-color:#eee;
white-space: nowrap;
border:1px #dcd9d4 solid;
}

div#pages li.pbutton{
color:#303030;
background-color:#dcd9d4;
padding:3px 5px 1px 5px;
white-space: nowrap;
border:1px #dcd9d4 solid;
}

div#pages li.opt{
color:#303030;
padding:0px;
white-space: nowrap;
background:#fff;
}
div.productquery_dolphin{
float:left;
padding:4px;
margin:0px 5px 5px 0px;
border:1px #cacaca solid;
}

div.productquery_dolphin_top{
text-align:left;
margin:0px;
}

div.productquery_dolphin_bottom{
text-align:left;
margin:0px;
padding-top:4px;
}

div.productquery_dolphin div.fang{
margin:0px;
text-align:center;
padding:0px;
}

div.productquery_dolphin div.picFit{
overflow: hidden;
}

div.productquery_dolphin div.picFit img{
}

div.productquery_dolphin a.prodtitle:link,div.productquery_dolphin a.prodtitle:visited,div.productquery_dolphin a.prodtitle:active{
display:block;
color:#2e2e2e;
font:12px/35px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
margin:0px;
padding:0px;
text-align:center;
background-color:#ececec;
}

div.productquery_dolphin a.prodtitle:hover{
display:block;
color:#2e2e2e;
text-decoration: underline;
}
#jobquery {margin:0;border-bottom:2px #e8e8e8 solid;}
#jobquery ul{margin:0;padding:0}
#jobquery ul.queryul{margin:10px 0px;}
#jobquery li{list-style-type: none;padding-left:10px;height:35px;}
#jobquery li.cap{border-bottom:2px #e8e8e8 solid;background:#f5f5f5}
#jobquery .bt{float:left;line-height:35px;margin-right:20px;}
#jobquery .bt a{font: 12px/35px Verdana, Arial, Helvetica, sans-serif;}
#jobquery .bt a:hover{color:#FF0000}
#jobquery .bk{float:right;width:130px;line-height:35px;}
#jobquery .bk a{font: 12px/35px Verdana, Arial, Helvetica, sans-serif;}
#jobquery .au{float:right;width:90px;line-height:35px;}
#jobquery .au a{font: 12px/35px Verdana, Arial, Helvetica, sans-serif;}
#jobquery .cl{float:right;width:50px;line-height:35px;}
#jobquery .cl a{font: 12px/35px Verdana, Arial, Helvetica, sans-serif;}
#jobquery .cl a:hover{color:#FF0000}
#guestbookquery {margin:0; border:1px #d2d2d2 solid;}
#guestbookquery ul{margin:0; padding:0}
#guestbookquery li{list-style-type: none; height:35px;}

#guestbookquery div.cap{border-bottom:1px #d2d2d2 solid; background:#f5f5f5}
#guestbookquery .au{float:left; width:160px; line-height:35px; border-right:1px #d2d2d2 solid;}
#guestbookquery .auz{padding-left:20px;}
#guestbookquery .gb{line-height:35px;}
#guestbookquery .gbz{padding-left:20px;}

#guestbookquery div.guestbook{width:100%; height:100%; border-top:1px #d2d2d2 solid;}

#guestbookquery div.auinfo{float:left; width:160px;}
#guestbookquery div.aupic{width:95px; height:95px; padding:10px 10px 10px 32px;}
#guestbookquery div.auname{width:150px; text-align:center; line-height:22px; padding-left:5px; padding-right:5px; overflow:hidden; white-space:nowrap;}
#guestbookquery div.lynum{width:150px; color:#999; text-align:center; line-height:22px; padding-left:5px; padding-right:5px; overflow:hidden; white-space:nowrap;}

#guestbookquery div.gbinfo{margin-left:160px; border-left:1px #d2d2d2 solid;}
#guestbookquery div.ttinfo{height:28px; margin-left:5px; margin-right:5px; border-bottom:1px #d2d2d2 solid;}
#guestbookquery div.title{float:left; padding-left:15px; line-height:28px; color:#333333;}
#guestbookquery div.fjinfo{float:right; padding-right:10px; line-height:28px;}
#guestbookquery div.fjinfo img{padding-top:6px;}
#guestbookquery div.fjinfo a{padding-left:3px; line-height:28px;}
#guestbookquery div.mood{float:left; width:20px; padding-left:5px; padding-top:15px;}
#guestbookquery div.bdinfo{width:580px; padding-top:8px; padding-left:10px; color:#999999;}
#guestbookquery div.bdinfo2{width:580px; padding-top:8px; padding-left:10px; padding-right:10px; color:#555555; word-break:break-all; overflow:auto;}
#guestbookquery div.hfinfo{height:65px; margin:20px 5px 0px 5px; padding-left:25px; border-top:1px #dddddd dashed;}
#guestbookquery div.hf{color:#ff0000; padding-top:5px;}
#guestbookquery div.hfanswer{line-height:25px; padding-right:10px; color:#000000;}
#guestbookquery div.btinfo{height:25px; padding-top:5px; margin-left:5px; margin-right:5px; padding-left:10px; border-top:1px #d2d2d2 solid;}
form{margin:0;padding:0 0 40px 0}

.inputguestbook{border:1px #ddd solid;width:200px;height:20px;line-height:20px;padding:0px 3px;color:#555;background:#fbfbfb;}
.textarea{border:1px #ddd solid;font-size:12px;padding:3px;color:#555;background:#fbfbfb;overflow:auto;}
.button{border:1px #ddd solid;font: 12px Verdana, Arial, Helvetica, sans-serif;height:22px;line-height:20px;padding:0px 3px;background:#f7f7f7;}
.submit{border:1px #ddd solid;font: 12px Verdana, Arial, Helvetica, sans-serif;height:22px;line-height:20px;padding:0px 3px;background:#f7f7f7;cursor:pointer;}
.mustfill{color:#ff0000}

.loginlink{cursor:pointer;text-decoration: underline}
.logoutlink{cursor:pointer;text-decoration: underline}

ul.mood{
	overflow: hidden;
	height:25px;
	padding-top:3px;
}

ul.mood li{
	float:left;
}
