@charset "utf-8";
/* CSS Document */

.log{
	width: 375px;
	height: 48px;
	top: 30px;
	left: 21px;
	z-index: 8;
	position:absolute;
}
.ssl{
	width: 308px;
	height: 24px;
	top: 35px;
	left: 675px;
	z-index: 9;
	position:absolute;
}
div.globalsearchformzone{
padding:0px;
margin:0px;
height:24px;
background:url("../img/searchl.png")/*tpa=http://www.chuangyesan.com/images/website/07/img/searchl.png*/ 0 0 no-repeat;
}


div.globalsearchformzone div.globalsearchform{
float:left;
padding:0px 12px 0px 10px;
margin:0px;
height:24px;
}

div.globalsearchformzone div.globalsearchform1{
float:right;
padding:0px;
margin:0px;
}

div.globalsearchformzone div.globalsearchform .input{
border:0px;
height:24px;
padding:0 0 0 16px;
margin:0px;
background:transparent;
color:#888;
width:215px;
font:12px/22px Verdana,microsoft yahei,Arial;
}

div.globalsearchformzone div.globalsearchform1 .imgbutton{
padding:0px;
margin:0px;
}
.scd{
	width: 962px;
	height: 38px;
	top: 97px;
	left: 20px;
	z-index: 24;
	position:absolute;
}
#dropmenu{	
margin: 0 0 0 -2px;
padding: 0;
width:100%;
height:38px;
background: url("../img/menubg40.png")/*tpa=http://www.chuangyesan.com/images/website/07/img/menubg40.png*/ repeat-x;
}

#dropmenu li{	
float: left;
list-style: none;
font: 12px/38px  SimSun,'microsoft yahei',Verdana,Arial;

}

#dropmenu li a{	
display: block;
padding: 0px;
text-align:center;
text-decoration: none;
width: 120px;
color: #fff;
white-space: nowrap;
background: url("../img/menu40.png")/*tpa=http://www.chuangyesan.com/images/website/07/img/menu40.png*/ no-repeat;
font: 12px/38px  SimSun,'microsoft yahei',Verdana,Arial;
}

#dropmenu li a:hover{	
color: #fff;
background: url("../img/menunow40.png")/*tpa=http://www.chuangyesan.com/images/website/07/img/menunow40.png*/ no-repeat;
font: 12px/38px  SimSun,'microsoft yahei',Verdana,Arial;
}
		
#dropmenu li ul{
margin: 2px 0 0 1px;
padding: 10px 0px;
width: 120px;
position: absolute;
visibility: hidden;
background: url("../img/smenubg40.png")/*tpa=http://www.chuangyesan.com/images/website/07/img/smenubg40.png*/ repeat;
}
		
#dropmenu li ul li{
float: none;
display: inline;
width: 120px;
height:30px;
font: 12px/30px  SimSun,'microsoft yahei',Verdana,Arial;
}
			
#dropmenu li ul li a{	
padding: 0px;
text-align:center;
color: #fff;
background: url("../img/smenubg40.png")/*tpa=http://www.chuangyesan.com/images/website/07/img/smenubg40.png*/ repeat;
font: 12px/30px  SimSun,'microsoft yahei',Verdana,Arial;
}
			
#dropmenu li ul li a:hover{	
padding: 0px;
color: #303030;
background: url("../img/smenunow40.png")/*tpa=http://www.chuangyesan.com/images/website/07/img/smenunow40.png*/ repeat;
font: 12px/30px  SimSun,'microsoft yahei',Verdana,Arial;
}
.xgt{
	width: 1002px;
	height: 512px;
	top: 0px;
	left: 0px;
	z-index: 1;
	position:absolute;
}
.lb{
	width: 986px;
	height: 360px;
	top: 153px;
	left: 8px;
	z-index: 23;
	position:absolute;
}
#advsheadlb{
margin:0;
padding:0;
}

#advsheadlb .advsheadlbpic{
width:100%;
border:0px;
display:none;
}
ul.newslist_time{
margin:0px;
padding:0px;
}

li.newslist_time {
margin:0px;
padding-left:15px;
list-style-type: none;
height:25px;
background: transparent url("../img/li.gif")/*tpa=http://www.chuangyesan.com/images/website/07/img/li.gif*/ 0px 9px no-repeat;
}

li.newslist_time .time{
float:right;
font:10px/25px Verdana, Arial, Helvetica, sans-serif;
color:#606060;
padding:0px;
}

a.newslist_time:link,a.newslist_time:visited,a.newslist_time:active{
color:#383838;
text-decoration: none;
font:12px/25px Verdana, Arial, Helvetica, sans-serif;
}

a.newslist_time:hover{
color:#ff0000;
font:12px/25px Verdana, Arial, Helvetica, sans-serif;
}
ul.photoapp001{
margin:0;
padding:0
}

ul.photoapp001 li{
list-style-type: none;
margin:0px 5px 5px 0px;
text-align:center;
float:left;
}

ul.photoapp001 div.fang{
border:1px #ddd solid;
background: #fff;
padding:3px;
text-align:center;
}

ul.photoapp001 div.picFit{
overflow: hidden;
}

ul.photoapp001 div.picFit img{
}


ul.photoapp001 div.title{
text-align:center;
overflow: hidden;
white-space:nowrap;
}

ul.photoapp001 a.title:link,ul.photoapp001 a.title:visited,ul.photoapp001 a.title:active{
color:#555;
font:12px/25px simsun;
text-decoration: none;
}

ul.photoapp001 a.title:hover{
color:#ff0000;
text-decoration: underline;
font:12px/25px simsun;
}
.dbt{
	width: 1003px;
	height: 131px;
	top: 0px;
	left: 0px;
	z-index: 2;
	position:absolute;
}
.xcd{
	width: 1002px;
	height: 28px;
	top: 7px;
	left: 0px;
	z-index: 11;
	position:absolute;
}
div#bottommenu{
height: 28px;
color:#fff;
text-align:center;
}


div#bottommenu a:link,div#bottommenu a:visited,div#bottommenu a:active{
margin:0 8px;
color:#fff;
font:12px/28px 'SimSun',Arial,Sans-Serif;
text-decoration: none;
}

div#bottommenu a:hover{
color:#fff;
text-decoration: underline;
}
.dxx{
	width: 1002px;
	height: 64px;
	top: 57px;
	left: 0px;
	z-index: 6;
	position:absolute;
}
.fleft{
	float:left;
	width:212px;
	left: 8px;
    position: relative;
}
.fright{
	float:right;
	width:773px;
	position: relative;
    right: 7px;
}
div#nav {
color:#505050;
padding:12px 18px 0px 38px;
}

div#nav a{
color:#505050;
}
div.productclass_dolphin{
margin:0px;
padding:15px 0px 20px 0px;
}


a.productclass_dolphin:link,a.productclass_dolphin:visited,a.productclass_dolphin:active{
display:block;
text-decoration: none;
font:12px/29px Verdana, Arial, Helvetica, sans-serif;
height:30px;
text-align:left;
background:url("../img/listx.png")/*tpa=http://www.chuangyesan.com/images/website/07/img/listx.png*/ 0px 0px no-repeat;
padding-left:60px;
color:#fff;
}

a.productclass_dolphin:hover{
display:block;
color: #fff; 
background:url("../img/listx2.png")/*tpa=http://www.chuangyesan.com/images/website/07/img/listx2.png*/ 0px 0px no-repeat;
text-decoration: none;
}
div.productsearchformzone{
	padding:20px 0px 60px 20px;
	height:100%;
	margin:0px;
}

div.productsearchformzone div.productsearchform{
	height: 22px;
	line-height:19px;
	margin-top:1px;
}

div.productsearchformzone div.productsearchform .inputproduct{
	border:1px #ddd solid;
	height:18px;
	line-height:17px;
	color:#7e7e7e;
}

div.productsearchformzone .buttonimage{
	height:22px;
	margin-top:4px;
}

div.productsearchformzone div.productsearchform2{
	height: 20px;
	line-height:19px;
	margin-top:2px;
	padding:0px;
}

div.productsearchformzone div.productsearchform .box{
    BORDER: #e3e9ef 1px solid;
	FONT-SIZE: 10pt;
	color:#505050;
	FONT-FAMILY: "verdna";
}

div.productsearchformzone div.productsearchform .selectBoxSelectedArea {
    PADDING-LEFT: 3px;
	FONT-SIZE: 12px;
	COLOR: #505050;
	LINE-HEIGHT: 17px;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR:#ffffff;
}
div.productsearchformzone div.productsearchform .selectBoxSelectedAreaFocus {
    PADDING-LEFT: 3px;
	FONT-SIZE: 12px;
	COLOR: #333333;
	LINE-HEIGHT: 17px; 
	PADDING-TOP: 1px;  
	BACKGROUND-COLOR: #ffffff;
}
div.productsearchformzone div.productsearchform .selectBoxOption {
    PADDING-LEFT: 3px; 
	FONT-SIZE: 12px; 
	COLOR: #505050; 
	LINE-HEIGHT: 17px; 
	PADDING-TOP: 2px;  
	BACKGROUND-COLOR: #ffffff;
}
div.productsearchformzone div.productsearchform .selectBoxOptionOver {
    PADDING-LEFT: 3px; 
	FONT-SIZE: 12px; 
	COLOR: #333333; 
	LINE-HEIGHT: 17px; 
	PADDING-TOP: 2px;  
	BACKGROUND-COLOR: #ffffff;
}
div.productsearchformzone div.productsearchform .selectBoxOptionInnerLayer {
    BORDER: #e3e9ef 1px solid; 
	SCROLLBAR-FACE-COLOR: #ffffff; 
	SCROLLBAR-HIGHLIGHT-COLOR: #b4b4b4; 
	OVERFLOW: auto;
	SCROLLBAR-SHADOW-COLOR: #b4b4b4; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #838383; 
	SCROLLBAR-TRACK-COLOR: #eaeaea; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
	BACKGROUND-COLOR: #ffffff;
}
div.page_content {
font:14px/22px Verdana, Arial, Helvetica, sans-serif;
color:#494949;
margin:0px;
padding-bottom:30px;
}

div.page_content p,div.page_content a,div.page_content td,div.page_content span,div.page_content li{
font:14px/22px Verdana, Arial, Helvetica, sans-serif;
color:#494949;
}
div.productquery_dolphin{
float:left;
padding:0px;
margin:0px 8px 2px 0px;
}

div.productquery_dolphin_top{
text-align:left;
margin:0px;
}

div.productquery_dolphin_bottom{
text-align:left;
margin:0px;
padding:0px;
}

div.productquery_dolphin div.fang{
border:1px #dcdcdc solid;
margin:0px;
text-align:center;
padding:3px;
}

div.productquery_dolphin div.picFit{
overflow: hidden;

}

div.productquery_dolphin div.picFit img{
}


div.productquery_dolphin a.prodtitle:link,div.productquery_dolphin a.prodtitle:visited,div.productquery_dolphin a.prodtitle:active{
display:block;
color:#515151;
font:12px/35px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
margin:0px;
padding:0px;
text-align:center;
}

div.productquery_dolphin a.prodtitle:hover{
display:block;
color:#ff0000;
text-decoration: underline;
font:12px/35px Verdana, Arial, Helvetica, sans-serif;
text-align:center;
}
div#showpages {
clear:both;
padding:0px;
margin:20px 0px;
width:100%;
height:30px;
white-space: nowrap;
}

div#pagesinfo {
float:left;
padding:3px 8px;
white-space: nowrap;
}

div#pages {
float:right;
padding-right:8px;
white-space: nowrap;
}

div#pages ul{
margin:0;
padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
color:#303030;
text-decoration: none;
}

div#pages a:hover{
color:#ff0000;
text-decoration: none;
}

div#pages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
background:#dcd9d4;
color:#303030;
border:1px #dcd9d4 solid;
white-space: nowrap;
}

div#pages li.pagesnow{
color:#303030;
background-color:#eee;
white-space: nowrap;
border:1px #dcd9d4 solid;
}

div#pages li.pbutton{
color:#303030;
background-color:#dcd9d4;
padding:3px 5px 1px 5px;
white-space: nowrap;
border:1px #dcd9d4 solid;
}


div#pages li.opt{
color:#303030;
padding:0px;
white-space: nowrap;
}
div#newsquery {
margin:0px;
padding:0px;
}

div#newsquery ul{
margin:0;
padding:0;
}

div#newsquery li{
list-style-type: none;
height:36px;
font-size: 12px;
overflow: hidden;
line-height:28px;
background:url("../img/line.jpg")/*tpa=http://www.chuangyesan.com/images/website/07/img/line.jpg*/ 0px 0px no-repeat;
}

div#newsquery a:link,div#newsquery a:visited,div#newsquery a:active{
text-decoration: none;
font:12px/24px Verdana, Arial, Helvetica, sans-serif;
color:#333;
}

div#newsquery a:hover{
text-decoration: underline;
font:12px/24px Verdana, Arial, Helvetica, sans-serif;
color:#e10000;
}


div#newsquery li.title{
padding-left:22px;
}


div#newsquery div.title{
float:left;
font:12px/24px Verdana, Arial, Helvetica, sans-serif;
}

div#newsquery .time{
float:right;
white-space: nowrap;
overflow: hidden;
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
padding-left:5px;
color:#999;
}
#jobquery {margin:0;border-bottom:2px #e8e8e8 solid;}
#jobquery ul{margin:0;padding:0}
#jobquery ul.queryul{margin:10px 0px;}
#jobquery li{list-style-type: none;padding-left:10px;height:35px;}
#jobquery li.cap{border-bottom:2px #e8e8e8 solid;background:#f5f5f5}
#jobquery .bt{float:left;line-height:35px;margin-right:20px;}
#jobquery .bt a{font: 12px/35px Verdana, Arial, Helvetica, sans-serif;}
#jobquery .bt a:hover{color:#FF0000;}
#jobquery .bk{float:right;width:130px;line-height:35px;}
#jobquery .bk a{font: 12px/35px Verdana, Arial, Helvetica, sans-serif;}
#jobquery .au{float:right;width:90px;line-height:35px;}
#jobquery .au a{font: 12px/35px Verdana, Arial, Helvetica, sans-serif;}
#jobquery .cl{float:right;width:50px;line-height:35px;}
#jobquery .cl a{font: 12px/35px Verdana, Arial, Helvetica, sans-serif;}
#jobquery .cl a:hover{color:#FF0000;}
form{margin:0;padding:0 0 30px 0}

.formgroup{
margin-bottom:10px;
height:28px;
border-bottom:1px #def solid;
background:url("../images/icon1.gif")/*tpa=http://www.chuangyesan.com/images/website/07/images/icon1.gif*/ left no-repeat;
font: 14px/28px Verdana, Arial, Helvetica, sans-serif;
padding-left:22px;
font-weight:bold;
}


.formintro{
border:1px #def solid;
margin:10px 0px 20px 0px;
padding:10px;
background:#f7fbfe;
}

.formborder{
margin:0px;
margin-top:-1px;
border:1px #e8e8e8 solid;
padding:12px;
}


.input{border:1px #ddd solid;height:20px;line-height:20px;padding:0px 3px;color:#555;background:#fbfbfb}
.textarea{border:1px #ddd solid;font-size:12px;padding:3px;color:#555;background:#fbfbfb}
.button{border:1px #ddd solid;font: 12px Verdana, Arial, Helvetica, sans-serif;height:22px;line-height:20px;padding:0px 3px;background:#f7f7f7;}
.submit{border:1px #ddd solid;font: 12px Verdana, Arial, Helvetica, sans-serif;height:22px;line-height:20px;padding:0px 3px;background:#f7f7f7;}
.mustfill{color:#ff0000}

.loginlink{cursor:pointer;text-decoration: underline}
.logoutlink{cursor:pointer;text-decoration: underline}
